<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="watermark-container" id="watermark-container"></div>

    <nav>
    <div><strong>CodeCheck AI</strong></div>
    <div>
        <a href="/">Home</a>
        <a href="/demo">Demo</a>        
        <a href="/code-summary">Code Summary</a>
        <a href="/code-converter">Code Converter</a>
        <a href="/code-quiz">Code Quiz</a>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
        <a href="/logout">Logout</a>
    </div>
    <button onclick="toggleDarkMode()" style="margin-left:20px;">🌙</button>
</nav>

    <div class="container">
    <h1>Login</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="result">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

    <form method="POST" autocomplete="off">
        <input type="text" name="username" autocomplete="username" required>
        <br><br>
        <input type="password" name="password" autocomplete="current-password" required>
        <br><br>
        <button type="submit">Login</button>
    </form>

    <br>
    <a href="{{ url_for('auth.signup') }}">Don't have an account? Sign Up</a>
    </div>

    <script>
function toggleDarkMode() {
    document.body.classList.toggle("dark-mode");
}
</script>

</body>
</html>
