<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="watermark-container" id="watermark-container"></div>


<nav>
    <div><strong>CodeCheck AI</strong></div>
    <div>
        <a href="/">Home</a>
        <a href="/demo">Demo</a>        
        <a href="/code-summary">Code Summary</a>
        <a href="/code-converter">Code Converter</a>
        <a href="/code-quiz">Code Quiz</a>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
        <a href="/logout">Logout</a>
    </div>
    <button onclick="toggleDarkMode()" style="margin-left:20px;">🌙</button>
</nav>

    <div class="container">
    <h1>Create Account</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="result">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

   <form method="POST" autocomplete="off">

        <label for="username">Username</label><br>
        <input type="text" id="username" name="username" autocomplete="off" required>
        <br><br>

        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" autocomplete="new-password" required>
        <br><br>

        <button type="submit">Sign Up</button>
    </form>


    <br>
    <a href="{{ url_for('auth.login') }}">Already have an account? Login</a>
    </div>

    <script>
function toggleDarkMode() {
    document.body.classList.toggle("dark-mode");
}
</script>

</body>
</html>
